<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/navbar.ejs") %>
    <section>
      <a href="/create">Create blog</a>
    </section>
    <section>
      <% if (blogs.length> 0) { %> <% blogs.forEach(blog=> { %>
          <h3>
            <%= blog.name %>
          </h3>
          <p>
            <%= blog.snippet %>
          </p>
          <% }) %>
            <% } %>
    </section>
    <%- include("./partials/footer.ejs") %>
  </body>

</html>